<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="RPG4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><applicationSettings>
        <RPG4.Properties.Settings>
            <setting name="ResourcesPath" serializeAs="String">
                <value>D:\Ma programmation\csharp\Projects\RPG4\RpeggiatorLib\Datas</value>
            </setting>
        </RPG4.Properties.Settings>
    </applicationSettings>
</configuration>
